.App {
  text-align: center;
}

button {
  color: white
}

button.midnight-blue {
  background-color: blue
}

button.medium-violet-red {
  background-color: red
}

button.disabled-gray {
  background-color: gray;
}